body {
  padding-top: 60px;
  background-color: #F7FBFD;
}

.posts {
  list-style-type: none;
}

.post {
  margin-bottom: 40px
}

.title {
  font-size: 1.6em;
  display: block;
  line-height: 1em;
  opacity: 0.87;
}

.teaser {
  margin: 0px;
  margin-top: 6px;
  opacity: 0.54;
}

.footer {
  text-align: right;
}

.footer a {
  margin-right: 6px;
}

.profile {
  text-align: center;
}

.profile img {
  width: 140px;
  height: 140px;
}

.name {
  display: block;
  font-size: 1.5em;
  margin-top: 6px;
}

.location {
  display: block;
}

.social-links {
  display: flex;
  justify-content: space-between;
  margin: 6px auto 0 auto;
  max-width: 200px;
  opacity: 0.87;
}

a:link, a:visited {
  color: black;
}

a:hover {
  color: #D50000;
  text-decoration: none;
}

.social-hr {
  margin-top: 6px;
  margin-bottom: 3px;
}

.webring {
  display: flex;
  justify-content: space-between;
  opacity: 0.87;
}

.footer-hr {
  margin-bottom: 3px;
}

.spin:hover {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 200ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 200ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 200ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}
